<!DOCTYPE html>
<html lang="nl-BE">
<head>
	<style>

	</style>
</head>
<body>
<header>
	<h3>Persbericht {{creatorName}}</h3>
	<hr>
</header>

<main>
	<h1 class="press-release__title">{{title}}</h1>
	<div class="press-release__content">{{htmlContent}}</div>
</main>

<footer>
	<!-- hello -->
	<hr>
	{{#each sources}}
		<p>{{this.fullName}}, {{this.function}}</p>
		{{#if (isdefined this.telephone)}}
			<p><a href="{{this.telephone}}">{{this.telephone}}</a></p>
		{{/if}}
		{{#if (isdefined this.mobile)}}
			<p><a href="{{this.mobile}}">{{this.mobile}}</a></p>
		{{/if}}
		{{#if (isdefined this.email)}}
			<p><a href="{{this.email}}">{{this.email}}</a></p>
		{{/if}}
	{{/each}}
</footer>
</body>
</html>

